.jp-Dialog-content {
  background: #FAFAFA;
  padding: 24px;
  width: 400px;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
  word-wrap: break-word;
}
.jp-mod-conflict {
  color: rgba(255, 4, 4 ,0.53);
  z-index: 100;
}

.jp-Dialog-inputWrapper {
  padding: 7px;
  width: 100%;
  background: white;
  box-sizing: border-box;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  margin-bottom: 12px;
}

.sadl-Disabled-button {
    background-color: #BDBDBD
}

