/* FIXME when https://github.com/Microsoft/monaco-editor/issues/113#issuecomment-240406949 is fixed */
.monaco-editor .inputarea { 
    position: fixed !important; 
    top: 0 !important; 
    left: 0 !important; 
}

/*.jp-Notebook*/
.monaco-editor {
    padding-top : 5.6px;
    padding-bottom : 5.6px;
    font-family: monospace !important;
    font-size: inherit !important;
}

/* Remove a selected line border */
.monaco-editor .current-line {
    border: 0px !important;
}

.jp-CellEditor {
    width: 400px;
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
}

.keyword {
    color: #801480 !important;
    font-weight: bold;
}

.string {
    color: #000000 !important;
    background: #E6F0FF !important;
}

.number {
    color: #000000 !important;
    background: #E6F0FF !important;
}

.attribute {
    color: #000000 !important;
    background: white !important;
}

.type {
    color: #000080 !important;
}

.tag {
    color: #0000FF !important;
}

.constant {
    color: #FF00FF !important;
}

.constructor {
    color: #008000 !important;
}

.namespace {
    color: #00CC00 !important;
}

.warn-token {
    color: #000080 !important;
}

.predefined {
    color: #801480 !important;
}